 <!-- Pagination links -->
 <nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-4">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          </li>
        {% endif %}
  
        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active">
              <span class="page-link">{{ num }}</span>
            </li>
          {% else %}
            {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>