{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Listar Locações
{% endblock %}

{% block centro %}
<div class="container-fluid p-4 text-center">

    <h1 class="text-align-center pb-4">Clientes Cadastrados</h1>

    <div class="row">

      {% for client in object_list %}

        <div class="col mb-5" >

          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Cliente: {{ client.name }}
              <a href="{% url 'users_urls:delete' client.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>  
              </a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">CPF: {{ client.cpf }}</li>
              <li class="list-group-item"> CNH: {{ client.cnh }} </li>
              <li class="list-group-item"> Telefone: {{ client.phone_number }}</li>
              <li class="list-group-item">E-mail: {{ client.email }}</li>
              <li class="list-group-item">Endereço: {{ client.address }}</li>
            </ul>
          </div>
        
        </div>

      {% endfor %}
    
    </div>
    
</div>
{% endblock %}