{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block centro %}
<div class="container-fluid d-flex align-items-center justify-content-center vh-100">

  <div class="main">
    <!-- Create a Form -->
    <form method="POST" class="p-4">
        <!-- Security token by Django -->
        {% csrf_token %}
        Tem certeza que quer deletar esse cliente?
        <input type="submit" class="btn btn-danger" value="Deletar"/>
        <button class="btn btn-secondary">
          <a href="{% url 'cars_urls:index' %}" class="text-white"> 
            Cancelar
          </a>
        </button>
    </form>
  </div>

</div>
{% endblock %}