{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Index
{% endblock %}

{% block centro %}

{% if request.user.is_authenticated %}

<div class="d-flex justify-content-center mt-4">

  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">Foto:</th>
        <th scope="col">Modelo:</th>
        <th scope="col">Marca:</th>
        <th scope="col">Cor:</th>
        <th scope="col">Ano:</th>
        <th scope="col">Placa:</th>
        <th scope="col">Motor:</th>
        <th scope="col">Combustível:</th>
        <th scope="cop">Deletar:</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td><img src="/media/{{object.photo}}" height="200px" width="250px"></td>
        <td>{{ object.model }}</td>
        <td>{{ object.manufacter }}</td>
        <td>{{ object.color }}</td>
        <td>{{ object.year }}</td>
        <td>{{ object.license_plate }}</td>
        <td>{{ object.motor }}</td>
        <td>{{ object.fuel_type }}</td>
        <td>
          <a href="{% url 'cars_urls:delete' object.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>  
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="d-flex justify-content-center">

  <a href="{% url 'rents_urls:create' %}"><button class="btn btn-primary mb-4" type="submit"> Alugar
      Veículo</button></a>

</div>
{% else %}
<div class="d-flex justify-content-center mt-4">

  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">Foto:</th>
        <th scope="col">Modelo:</th>
        <th scope="col">Marca:</th>
        <th scope="col">Cor:</th>
        <th scope="col">Ano:</th>
        <th scope="col">Placa:</th>
        <th scope="col">Motor:</th>
        <th scope="col">Combustível:</th>
        <th scope="cop">Deletar:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="/media/{{object.foto}}" height="200px" width="250px"></td>
        <td>{{ object.model }}</td>
        <td>{{ object.manufacter }}</td>
        <td>{{ object.color }}</td>
        <td>{{ object.year }}</td>
        <td>{{ object.license_plate }}</td>
        <td>{{ object.motor }}</td>
        <td>{{ object.fuel_type }}</td>
        <td>
          <a href="{% url 'cars_urls:delete' object.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>  
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

{% endif %}


{% endblock %}